@using DataDomain;

@model DataDomain.MissedQuestion

@{
    ViewData["Title"] = "Take Missed Questions";

    int count = ViewBag.Count;

    IEnumerable<string> questionTypes = ViewBag.QuestionTypes;
    IEnumerable<string> answerOptions = ViewBag.AnswerOptions;
    IEnumerable<string> answerOptionsTF = new List<string>()
    {
        "True",
        "False"
    };
    string attemptType = ViewBag.AttemptType;
}

<h1>@Model.QuizName</h1>
<hr/>

<div class="row">
    <div class="col-md-6 mx-auto">
        <h4>Missed Question @Model.QuestionNumber</h4>
        <hr />
        <dl class="row">
            <form asp-action="TakeMissedQuestions">
                <input asp-for="AttemptTypeID" class="form-control" hidden />
                <input asp-for="QuestionID" class="form-control" hidden />
                <input asp-for="QuestionNumber" class="form-control" hidden />
                <input asp-for="QuizID" class="form-control" hidden />
                <input asp-for="QuizRecordID" class="form-control" hidden />

                <div class="form-group" hidden>
                    <label asp-for="QuestionTypeID" class="control-label"></label>
                    @Html.DropDownListFor(m => m.QuestionTypeID, new SelectList(questionTypes), "Choose Question Type", new { @class = "form-control", @id = "questionType" })
                    <span asp-validation-for="QuestionTypeID" class="text-danger"></span>
                </div>

                <dd class="col-sm-10">
                    @Html.DisplayFor(model => model.Prompt)
                </dd>
                <input asp-for="Prompt" class="form-control" hidden />

                @if(Model.QuestionTypeID == "Multiple Choice")
                {
                    <input asp-for="Answer1" class="form-control" hidden />
                    <input asp-for="Answer2" class="form-control" hidden />
                    <input asp-for="Answer3" class="form-control" hidden />
                    <input asp-for="Answer4" class="form-control" hidden />

                    <div>
                        <label asp-for="MyAnswer" class="control-label" hidden></label>
                        @Html.DropDownListFor(m => m.MyAnswer, new SelectList(answerOptions), "Choose Your Answer", new { @class = "form-control" })
                        <span asp-validation-for="MyAnswer" class="text-danger"></span>
                    </div>
                }
                else if(Model.QuestionTypeID == "True/False")
                {
                    <div>
                        <label asp-for="MyAnswer" class="control-label" hidden></label>
                        @Html.DropDownListFor(m => m.MyAnswer, new SelectList(answerOptionsTF), "Choose Your Answer", new { @class = "form-control" })
                        <span asp-validation-for="MyAnswer" class="text-danger"></span>
                    </div>
                }
                else {
                    <div class="form-group">
                        <label asp-for="MyAnswer" class="control-label" hidden></label>
                        <input asp-for="MyAnswer" class="form-control" placeholder="Type Your Answer Here" />
                        <span asp-validation-for="MyAnswer" class="text-danger"></span>
                    </div>
                }
                <div class="form-group" hidden>
                    <label asp-for="CorrectAnswer" class="control-label"></label>
                    <input asp-for="CorrectAnswer" class="form-control" />
                    <span asp-validation-for="CorrectAnswer" class="text-danger"></span>
                </div>

                <div class="form-group text-center mt-3">
                    @if(Model.QuestionNumber > 1)
                    {
                        <input type="submit" value="Back" name="backButton" class="btn btn-second me-5" />
                    }
                    @if(Model.QuestionNumber < count)
                    {
                        <input type="submit" value="Next" name="nextButton" class="btn btn-second ms-5" />
                    }

                    @if(Model.QuestionNumber == count)
                    {
                        <input type="submit" value="Submit" name="submitQuiz" class="btn btn-main ms-5" />
                    }
                    <div class="mt-2">
                        @Html.ActionLink("Cancel", "TakenQuizzes", "Quiz", null, new { @class = "btn btn-warn" })
                    </div>
                </div>
            </form>
        </dl>
    </div>
</div>

@section Scripts {
    <script type="text/javascript">
        $(function () {
            $(".next").click(function () {
                document.forms[0].submit();
                return false;
            });
        });
        $(function () {
            $(".back").click(function () {
                document.forms[0].submit();
                return false;
            });
        });
    </script>
}